<!doctype html>
<html><!-- InstanceBegin template="/Templates/topics_template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Chapter 1</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
	 
  <!-- Bootstrap core CSS -->
  <link href="mockup/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- My custom css and js -->
  <link href="mockup/css/small-business.css" rel="stylesheet">
  <script defer src="mockup/js/small-business.js"></script>

  <!-- Bootstrap core JavaScript -->
  <script defer src="mockup/vendor/jquery/jquery.min.js"></script>
  <script defer src="mockup/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<!-- Navigation -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <!-- delete navbar-dark after mockup -->
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="mockup/index.html">Seperate Houses
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="mockup/topics.html">Topics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mockup/activities.html">Activities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mockup/author.html">Author</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
	
	<br />
	<br />
	<br />
<!-- InstanceBeginEditable name="body" -->
<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<h1>From Chapter 1</h1>
			<h5>Topic: General Issues of Divorce and Custody</h5>
			<br /><br />
		</div>
		<div class="col-lg-4">
			<a href="how_and_what_to_tell_the_children_and_how_theyll_react_part1.html" class="btn btn-warning">&lt;&lt; previous</a>
			<a href="should_we_stay_together_or_separate_before_the_divorce_part1.html" class="btn btn-warning">&nbsp;&nbsp;&nbsp;&nbsp;next &gt;&gt;&nbsp;&nbsp;&nbsp;</a>
		</div>
	</div>
</div>
	
	<div class="container">
		<!-- PUT COPY HERE  -->
		<p class="font-weight-bold text-center">Divorce Does Not Have To Destroy Children's Lives</p>
		<p>For most people the hardest part about getting divorced is seeing the pain of the children. For half these people that pain is compounded by their own: They are leaving their children with the other parent. Issues of custody and visitation produce very powerful emotions in divorcing parents, and these issues are more commonplace today than ever before.<br><br> 
			
			Once it was a foregone conclusion that women got custody of their children, but our society has significantly changed in the past two decades. The women's movement has not only liberated women from traditional stereotypes, but has also raised the possibility that men may have the ability to successfully, and perhaps with superiority, carry out roles and functions previously believed the sole domain of women. While the divorce rate the past ten years has been holding constant at about 48 percent, custody conflict has risen sharply. More men are seeking custody of their children, and more men than ever who don't get custody are staying actively involved, as visiting parents, in raising their children. <br><br>
			
			The benefit to the children can be tremendous. Having two loving parents in their lives to provide male and female role models, to convey values, and to teach them about relationships, love, caring, and responsibility, can be invaluable. It can salvage an otherwise permanently scarring event-divorce.
</p>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-lg-8"></div>
			<div class="col-lg-4">
				<a href="how_and_what_to_tell_the_children_and_how_theyll_react_part1.html" class="btn btn-warning">&lt;&lt; previous</a>
				<a href="should_we_stay_together_or_separate_before_the_divorce_part1.html" class="btn btn-warning">&nbsp;&nbsp;&nbsp;&nbsp;next &gt;&gt;&nbsp;&nbsp;&nbsp;</a>
			</div>
		</div>	
	</div>
<!-- InstanceEndEditable -->
	<br />
	<br />
	
     <!-- Footer -->
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <footer class="py-5 col-8">
        <div class="container">
          <p class="m-0 text-center text-white" id="footer-p"></p>
        </div>
        <!-- /.container -->
      </footer>
      <div class="col-2"></div>
    </div>
  </div>

</body>
<!-- InstanceEnd --></html>
