<!doctype html>
<html><!-- InstanceBegin template="/Templates/topics_template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Chapter 1</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
	 
  <!-- Bootstrap core CSS -->
  <link href="mockup/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- My custom css and js -->
  <link href="mockup/css/small-business.css" rel="stylesheet">
  <script defer src="mockup/js/small-business.js"></script>

  <!-- Bootstrap core JavaScript -->
  <script defer src="mockup/vendor/jquery/jquery.min.js"></script>
  <script defer src="mockup/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<!-- Navigation -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <!-- delete navbar-dark after mockup -->
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="mockup/index.html">Seperate Houses
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="mockup/topics.html">Topics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mockup/activities.html">Activities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mockup/author.html">Author</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
	
	<br />
	<br />
	<br />
<!-- InstanceBeginEditable name="body" -->
<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<h1>From Chapter 1</h1>
			<h5>Topic: General Issues of Divorce and Custody</h5>
			<br /><br />
		</div>
		<div class="col-lg-4">
			<a href="should_we_stay_together_or_separate_before_the_divorce_part1.html" class="btn btn-warning">&lt;&lt; previous</a>
			<a href="divorce_does_not_have_to_destroy_childrens_lives_part1.html" class="btn btn-warning">&nbsp;&nbsp;&nbsp;&nbsp;next &gt;&gt;&nbsp;&nbsp;&nbsp;</a>
		</div>
	</div>
</div>
	
	<div class="container">
		<!-- PUT COPY HERE  -->
		<p class="font-weight-bold text-center">How and What to Tell the Children and How They'll React</p>
		<p>Regardless of their age, children should be told in advance that there will be a divorce and what it will mean for them. Obviously a child of two will understand it differently than a twelve-yearold, but even that two-year-old needs to be told and prepared for the separation, lest he simply wake up one morning and find daddy gone. <br><br>
Kids are pretty observant creatures. Especially school-age children (exposed to divorce through their peers) will be perceptive enough to realize that there are serious problems.<br><br>

Consequently, long before you and your spouse have decided to end the marriage, or to tell the children, if a decision has been made, the children may be asking you if you are going to get divorced. All of this is to demonstrate that children of all ages are alive and sensitive to the feelings of their parents, the quality of their parents' interaction, and changes in that quality. It is unfair to them not to let them know what is going on and what will happen to them with enough lead time for them to comprehend it, ask questions about it, and adjust to it.<br><br>

When you know that you are definitely getting divorced and have worked out some of the details, so you can answer the children's questions, tell them. Make sure your decision is final-or as final as possible. Of course couples planning divorce sometimes put their marriages back together. But remember it is a terrible injustice to tell your children of the divorce and prepare them for the pain only to change your mind two days later. If there is more than one child, tell them together, regardless of the difference in ages and ability to understand. The implication of secrecy if they are told separately is worse than the confusion that sometimes occurs because of the children's different levels of understanding.
</p>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-lg-8"></div>
			<div class="col-lg-4">
				<a href="should_we_stay_together_or_separate_before_the_divorce_part1.html" class="btn btn-warning">&lt;&lt; previous</a>
				<a href="divorce_does_not_have_to_destroy_childrens_lives_part1.html" class="btn btn-warning">&nbsp;&nbsp;&nbsp;&nbsp;next &gt;&gt;&nbsp;&nbsp;&nbsp;</a>
			</div>
		</div>	
	</div>
<!-- InstanceEndEditable -->
	<br />
	<br />
	
     <!-- Footer -->
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <footer class="py-5 col-8">
        <div class="container">
          <p class="m-0 text-center text-white" id="footer-p"></p>
        </div>
        <!-- /.container -->
      </footer>
      <div class="col-2"></div>
    </div>
  </div>

</body>
<!-- InstanceEnd --></html>
