<!doctype html>
<html><!-- InstanceBegin template="/Templates/topics_template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Chapter 1</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
	 
  <!-- Bootstrap core CSS -->
  <link href="mockup/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- My custom css and js -->
  <link href="mockup/css/small-business.css" rel="stylesheet">
  <script defer src="mockup/js/small-business.js"></script>

  <!-- Bootstrap core JavaScript -->
  <script defer src="mockup/vendor/jquery/jquery.min.js"></script>
  <script defer src="mockup/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<!-- Navigation -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <!-- delete navbar-dark after mockup -->
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="mockup/index.html">Seperate Houses
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="mockup/topics.html">Topics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mockup/activities.html">Activities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mockup/author.html">Author</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
	
	<br />
	<br />
	<br />
<!-- InstanceBeginEditable name="body" -->
<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<h1>From Chapter 1</h1>
			<h5>Topic: General Issues of Divorce and Custody</h5>
			<br /><br />
		</div>
		<div class="col-lg-4">
			<a href="divorce_does_not_have_to_destroy_childrens_lives_part1.html" class="btn btn-warning">&lt;&lt; previous</a>
			<a href="how_and_what_to_tell_the_children_and_how_theyll_react_part1.html" class="btn btn-warning">&nbsp;&nbsp;&nbsp;&nbsp;next &gt;&gt;&nbsp;&nbsp;&nbsp;</a>
		</div>
	</div>
</div>
	
	<div class="container">
		<!-- PUT COPY HERE  -->
		<p class="font-weight-bold text-center">Should We Stay Together or Separate Before the Divorce?</p>
		<p>The general rule says to separate. For most couples the period leading up to divorce is very volatile. Once the children have been told about the divorce and had a chance to deal with what it will mean to them (see the next section, “How and What To Tell the Children and How They'll React"), the best solution to the volatility is to separate the adults. Even if custody is not at question in the divorce and there is a calming of the tension once the decision has been made to get divorced, separation is still a good idea.<br><br>

There are a couple of reasons for this. As the negotiations begin on who gets what, more likely than not tempers will heat up again, and the anger and resentment in the marriage may get focused on and played out in the settlement.” Having the children witness the kind of anger that is often expressed during this period on top of dealing with the trauma of the divorce is simply too painful and should be avoided.<br><br>

Furthermore, for young children, under the age of ten, it's terribly confusing, once they've been told about the divorce and what it will mean, to have mom and dad stay together. With one parent out of the house, they may start to deal with the pain and psychologically move forward. When parents stay together, the children are enabled to deny reality. This only prolongs the inevitable and makes the eventual coping with the divorce more difficult.
</p>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-lg-8"></div>
			<div class="col-lg-4">
				<a href="divorce_does_not_have_to_destroy_childrens_lives_part1.html" class="btn btn-warning">&lt;&lt; previous</a>
				<a href="how_and_what_to_tell_the_children_and_how_theyll_react_part1.html" class="btn btn-warning">&nbsp;&nbsp;&nbsp;&nbsp;next &gt;&gt;&nbsp;&nbsp;&nbsp;</a>
			</div>
		</div>	
	</div>
<!-- InstanceEndEditable -->
	<br />
	<br />
	
     <!-- Footer -->
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <footer class="py-5 col-8">
        <div class="container">
          <p class="m-0 text-center text-white" id="footer-p"></p>
        </div>
        <!-- /.container -->
      </footer>
      <div class="col-2"></div>
    </div>
  </div>

</body>
<!-- InstanceEnd --></html>
